@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  margin: 2rem;
  font-size: calc(1rem + 2vw);
}

.btn {
  padding: 2rem;
  margin: 1rem;
  border-radius: 50%;
  width: 10vw;
  border: 1px black solid;
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: calc(1rem + 1vw);
  box-shadow: black 1px 1px;
  -webkit-text-stroke: 2px black;
}

.b-plus {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
.b-minus {
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
}
.b-zero {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
